.hero {
    background-color: $verylightgray;
    .container{
        @include breackpoint-up(large){
            display: flex;
            align-items: center;
        }
    }

    &__image{
        position: relative;
        background-image: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        @include breackpoint-up(medium){
            min-height: 25rem;
            background-position: center 60%;
        }

        &::before{
            
            @include breackpoint-up(large){
                content: "";
                position: absolute;
                background-image: url(/images/bg-intro-desktop.svg);
                height: 100%;
                background-repeat: no-repeat;
                background-position: center bottom;
                width: 150%;
                background-size: 122%;
                background-position: 0% 83%;
            }
        }    
        &::after{
            content: "";
            position: absolute;
            background-image: url(/images/image-mockups.png);
            width: 100%;
            height: 100%;
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center bottom;

            @include breackpoint-up(medium){
                background-size: 52%;
            }

            @include breackpoint-up(large){
                width: 120%;
                height: 122%;
                background-size: 94%;
                background-position: center 150%;
                left: 22%;
            }
        }

        @include breackpoint-up(large){
           // background-image: url(/images/bg-intro-desktop.svg);
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;
            // background-position: left center;
        }
    }
    &__text{

        text-align: center;

        @include breackpoint-up(large){
            flex: 2;
            order: 1;
            text-align: left;

        }
    }
}